# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/release

# dependencies
/node_modules
/src/node_modules
package-lock.json
src/package-lock.json

# IDE - VSCode
.vscode/*
